<div class="row">
    <div class="col-sm-4 col-xs-12">
        {{> admin/error-message}}        
        <form action="/admin/categories/edit/{{category._id}}?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" id="name" value="{{category.name}}" type="text" class="form-control" placeholder="Enter category name">
            </div>
            <button type="submit" class="btn btn-primary">Update Category</button>
        </form>
    </div>
</div>