<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <h1>Create Post</h1>
            <form action="/admin/posts/create" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" id="title" class="form-control" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="postImage">Post Image</label>
                    <input name="postImage" type="file" id="postImage" class="form-control" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <option value="draft">Draft</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="7"></textarea>
                </div>
                <div class="form-check">
                    <input name="allowComments" type="checkbox" class="form-check-input" id="allowComments">
                    <label class="form-check-label" for="allowComments">Allow Comments</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>